<footer>
    <ul>
        <li>Yhteystiedot:</li>
        <li><span class="material-icons">email</span>samu.j.koponen@gmail.com</li>
        <li><span class="material-icons">phone</span>+358 41 4392921</li>
    </ul>
</footer>

</article> <!-- page end -->

<script src="/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>