<!DOCTYPE html>

<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web portfolio">
    <meta name="author" content="Samu Koponen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Samu Koponen<% if ( active === "portfolio" || active === "article" ) { %> - Portfolio<% } %></title>
</head>


<body>
    <article class="page">

        <header>
            <h1>Samu Koponen<% if ( active === "portfolio" || active === "article" ) { %> - Portfolio<% } %></h1>
        </header>
