<h2>Ohjelmointikielet</h2>

<div class="language-container">
    <article class="pf-container pf-container-small">
        <div class="pf-header">
            <a href="portfolio-articles/python" target="_self">
                <span>Python</span>
            </a>
        </div>
        <div class="key-word-container">
            <span class="key-word other">Ensimm채inen kieli</span>
        </div>
    </article>

    <article class="pf-container pf-container-small">
        <div class="pf-header">
            <a href="#" target="_self">
                <span>JavaScript</span>
            </a>
        </div>
        <div class="key-word-container">
            <span class="key-word other">Web Developer Bootcamp</span>
            <span class="key-word other">Itsen채inen opiskelu</span>
        </div>
    </article>

    <article class="pf-container pf-container-small">
        <div class="pf-header">
            <a href="#" target="_self">
                <span>Muut kielet</span>
            </a>
        </div>
        <div class="key-word-container">
            <span class="key-word tech">C</span>
            <span class="key-word tech">HTML</span>
            <span class="key-word tech">CSS</span>
            <span class="key-word tech">MySQL</span>
            <span class="key-word tech">Shell scripting</span>
            <!--<span class="key-word other">V채h채n kokemusta :(</span>-->
        </div>
    </article>
</div>