<aside class="side-nav">
    <div class="side-nav-content">
        <span>Tiimiprojektit</span>
        <ul>
            <li><a href="/portfolio-articles/aida" target="_self">Tekoäly- ja data-analytiikkaprojekti</a></li>
            <li><a href="/portfolio-articles/conduit" target="_self">Keskustelufoorumin kehitys</a></li>
        </ul>
        <!--
        <span>Ohjelmointikielet</span>
        <ul>
            <li><a href="/portfolio-articles/python" target="_self">Python</a></li>
            <li><a href="#" target="_self">JavaScript</a></li>
            <li><a href="#" target="_self">Python</a></li>
            <li><a href="#" target="_self">Muut kielet</a></li>
        </ul>
        -->
        <span>Omat projektit</span>
        <ul>
            <li><a href="/portfolio-articles/kirjanpito" target="_self">Kirjanpito</a></li>
            <li><a href="/portfolio-articles/reseptit" target="_self">Reseptit</a></li>
            <li><a href="/portfolio-articles/web-portfolio" target="_self">Web-portfolio</a></li>
            <li><a href="/portfolio-articles/sanakirja" target="_self">Sanakirja</a></li>
        </ul>
    </div>
</aside>