<%- include('partials/head')%> <%- include('partials/topnav')%>

<section class="front-page">
  <div class="text-center width-100">
    <img id="naama" src="images/naamakuva.png" alt="Naamakuva" />
  </div>

  <h2><span class="material-icons">home</span>Tervetuloa</h2>

  <p>
    Tämä on web-portfolioni etusivu! Täältä löydät oman esittelyni ja itse
    portfoliota pääsee selaamaan
    <a href="/portfolio" target="_self">portfolion päänäkymän</a> kautta.
  </p>

  <h2><span class="material-icons">computer</span>Opiskelu</h2>

  <p>
    Kiinnostukseni ICT-alaa kohtaan oli kytenyt jo pidempää ennen nykyisiä
    opintojani. Energiatekniikan opintojen aikana käyty valinnainen ohjelmoinnin
    kurssi toimi osaltaan sytykkeenä. Sittemmin lähdin suuntautumaan kokonaan
    ICT-alalle Ohjelmistoalan osaajaksi -koulutuksen kautta. Lisäksi muutaman
    verkkokurssin käytyäni hain tutkintoon johtavaan koulutukseen ja tällä
    hetkellä opiskelen tieto- ja viestintätekniikkaa Jyväskylän
    ammattikorkeakoulussa.
  </p>
  <p>
    Opinnot ovat edenneet syventäviin opintoihin. Viime kevään (2024) aikana
    opiskelin sovelluskehitystä keskittyen web-kehitykseen ja jonkin verran
    mobiilisovelluksiin. Syksyllä opiskelin data-analytiikkaa ja tekoälyä.
    Syksyn molemminpuolin olen kehittänyt omaa Full Stack kirjanpito-sovellusta,
    josta olen nyt lisännyt näytteen portfolioon.
  </p>

  <h2><span class="material-icons">forest</span>Harrastukset</h2>

  <p>
    Harrastuksiini kuuluu kuorolaulu ja ulkoilu, johon sisältyy tilanteen ja
    kausivaihtelun mukaan niin lenkkeily, hiihto, melonta, retkeily kuin
    marjastus.
  </p>
  <p>
    Kuorolaulua ehdin harrastaa aktiivisesti noin seitsemän vuotta ennen kuin
    korona ja paikkakunnan vaihto tulivat esteiksi. Koen silti edelleen olevani
    henkisesti kuorolaulaja. Tosin parhaimmat kokemukset tulivat esiintymisistä
    kvartetilla ja tupla/triplakvartetilla, kun otetaan huomioon, että aloitin
    laulu-urani nollasta kuoroon liityttyäni ja olin pitkään huonoimpia
    laulajia. Laulajana ja esiintyjänä kehittyminen oli huomattavan kasvattava
    kokemus.
  </p>
  <p>Harrastuksen laajuutta voi kuvata vaikkapa seuraavin luvuin:</p>
  <ul class="list">
    <li>100+ esiintymistä kuoron nimissä</li>
    <li>
      100+ kappaletta kirjoitettu kaikki stemmat sisältäviksi MIDI-tiedostoiksi
    </li>
    <li>4 vuotta kuoron sihteerinä</li>
    <li>2 vuotta kuoron puheenjohtajana</li>
    <li>1 vuosi kuoron keikkavastaavana</li>
  </ul>
</section>

<%- include('partials/footer')%>
