<%- include('partials/head')%>

<%- include('partials/topnav')%>

<section>

    <section class="front-page">
        <img id="naama" src="images/naamakuva.png" alt="Naamakuva">
        <p>
            Olen aloitteleva ohjelmoija.
            Olen päässyt hyvään alkuun monenlaisten ohjelmistojen ja ohjelmointikielten opiskelussa.
            Välillä tuntuu, että voisin oppia ihan mitä vain ja opetella kaikkea.
            Pyrin kuitenkin rajaamaan aiheita, joihin tutustun tarkemmin, jotta asiantuntemus voisi syventyä.
            Valinnan teko onkin ehkä vaikeinta, koska niin moni aihe kiinnostaa.
            Päätin jo alustavasti syventymisen kohteet, jotka ovat <em>web-kehitys</em> ja <em>DevOps</em>.
        </p>
        <p>
            Tänä kesänä ja syksynä opiskelen Jyväskylän ammattikorkeakoulun kursseja
            <a href="https://ict-alan-osaajaksi.pages.labranet.jamk.fi/" target="_blank">
                Ohjelmistoalan osaaja -koulutuksessa<span class="material-icons md-16">open_in_new</span></a>.
            Aikaisempaakin kokemusta on ja jatkossa aion hankkia lisää osaamista niin opiskellen kuin alalla
            työskennellen.
        </p>

        <h2><span class="material-icons">forest</span>Harrastukset</h2>
        <p>
            Harrastuksiini kuuluu mm. ulkoilu ja kuorolaulu.
            Ulkoiluun sisältyy tilanteen ja kausivaihtelun mukaan...
        </p>
        <ul>
            <li>lenkkeily</li>
            <li>hiihto</li>
            <li>melonta</li>
            <li>retkeily</li>
            <li>marjastus</li>
        </ul>
    </section>

</section>

<%- include('partials/footer')%>
