<%- include('partials/head')%>

<%- include('partials/topnav')%>

<section class="portfolio-main">

    <%- include('partials/sidenav')%>

    <section class="portfolio-overview">


        <h2>Tiimi Projektit</h2>

        <div class="project-container">
            <article class="pf-container pf-container-large">
                <div class="pf-header">
                    <a href="#" target="_self">
                        <span>Tekoäly- ja data-analytiikkaprojekti</span>
                    </a>
                </div>
                <div class="key-word-container">
                    <span class="key-word tech">jupyter notebook</span>
                    <span class="key-word tech">pandas</span>
                    <span class="key-word tech">numpy</span>
                    <span class="key-word tech">scikit-learn</span>
                </div>
            </article>

            <article class="pf-container pf-container-large">
                <div class="pf-header">
                    <a href="portfolio-articles/conduit" target="_self">
                        <span>Keskustelufoorumin kehitys</span>
                    </a>
                </div>
                <div class="img-container">
                    <img src="/images/docker-logo.png" alt="Docker logo" /><img
                         src="/images/elastic-logo.svg" alt="ELK-stack logo" role="img" /><img
                         src="/images/react-logo.png" alt="React logo" /><img
                         src="/images/nodejs.png" alt="Nodejs logo" /><img
                         src="/images/mongo.png" alt="MongoDB logo" />
                </div>
                <div class="key-word-container">
                    <span class="key-word tech">Docker</span>
                    <span class="key-word tech">ELK Stack</span>
                    <span class="key-word tech">MERN Stack</span>
                    <span class="key-word tech">Full Stack web-kehitys</span>
                </div>
            </article>
        </div>


        <h2>Ohjelmointikielet</h2>

        <div class="language-container">
            <article class="pf-container pf-container-small">
                <div class="pf-header">
                    <a href="portfolio-articles/python" target="_self">
                        <span>Python</span>
                    </a>
                </div>
                <div class="key-word-container">
                    <span class="key-word other">Ensimmäinen kieli</span>
                </div>
            </article>

            <article class="pf-container pf-container-small">
                <div class="pf-header">
                    <a href="#" target="_self">
                        <span>JavaScript</span>
                    </a>
                </div>
                <div class="key-word-container">
                    <span class="key-word other">Web Developer Bootcamp</span>
                    <span class="key-word other">Itsenäinen opiskelu</span>
                </div>
            </article>

            <article class="pf-container pf-container-small">
                <div class="pf-header">
                    <a href="#" target="_self">
                        <span>Muut kielet</span>
                    </a>
                </div>
                <div class="key-word-container">
                    <span class="key-word tech">C</span>
                    <span class="key-word tech">HTML</span>
                    <span class="key-word tech">CSS</span>
                    <span class="key-word tech">MySQL</span>
                    <span class="key-word tech">Shell scripting</span>
                    <!--<span class="key-word other">Vähän kokemusta :(</span>-->
                </div>
            </article>
        </div>


        <h2>Omat projektit</h2>

        <div class="personal-projects-container">
            <article class="pf-container pf-container-small">
                <div class="pf-header">
                    <a href="portfolio-articles/web-portfolio" target="_self">
                        <span>Web-portfolio</span>
                    </a>
                </div>
                <div class="key-word-container">
                    <span class="key-word tech">HTML</span>
                    <span class="key-word tech">CSS</span>
                    <span class="key-word other">RWD</span>
                    <span class="key-word other">Jatkuvaa työstöä</span>
                </div>
            </article>

            <article class="pf-container pf-container-small">
                <div class="pf-header">
                    <a href="portfolio-articles/sanakirja" target="_self">
                        <span>Saksa-suomi-sanakirja</span>
                    </a>
                </div>
                <div class="key-word-container">
                    <span class="key-word tech">Python</span>
                    <span class="key-word other">Pientä hauskaa</span>
                </div>
            </article>
        </div>


    </section> <!-- portfolio-overview end -->
</section>

<%- include('partials/footer')%>
