<%- include('partials/head')%>

<%- include('partials/topnav')%>

<section class="portfolio-main">

    <%- include('partials/sidenav')%>

    <article class="portfolio-article">

        <h2>Python</h2>

        <p>
            Se "ensimmäinen" ohjelmointikieleni, jos yläasteen aikaista lyhyttä HTML-kurssia ei lasketa.
            Python 3 oli kielenä, kun opiskelin <strong>ohjelmoinnin perusteet:</strong>
            ehto-, toistolauseet, valintarakenteet ja funktiot.
            Mukava ja vaihtelevuutta tuova kurssi energiatekniikkapainotteisen opiskelun lisäksi.
            Innostuin jo silloin huomattavasti ohjelmoinnista.
            Kirjoitin hyvin pitkälti kurssin oppeja käyttäen sanakirjaohjelman, josta pieni näyte 
            <a href="/portfolio-articles/sanakirja" target="_self">omalla sivullaan</a>.
        </p>
        <p>
            Python on parhaiten hallussa.
        </p>

    </article>
</section>

<%- include('partials/footer')%>