<%- include('partials/head')%>

<%- include('partials/topnav')%>

<section class="portfolio-main">

    <%- include('partials/sidenav')%>

    <article class="portfolio-article">

        <h2>Web-portfolio</h2>

        <p>
            Eli tämä sivusto. Tässä vaiheessa se ei itsessään ole 
            toteutukseltaan erityisen vaikuttava. Siitä huolimatta tai 
            osittain sen ansiosta sisältö pääsee päärooliin.
        </p>
        <h3>HTML &amp; CSS</h3>
        <p>
            Portfoliolle on ehtinyt muodostua oma historiansa. 
            Koodaus lähti hyvin alkeelisesta HTML-raapustuksesta, jonka 
            ohessa myös CSS-taidot lähtivät kehittymään alkeista eteenpäin. 
            Väittäisinkin, että suurimman osan nykyisistä CSS-taidoistani olen 
            oppinut tämän projektin parissa.
        </p>
        <p>
            <a href="/portfolio" target="_self">Portfolion päänäkymän</a> layout 
            tuotti pitkään haasteita, jotka lopulta johti lähes koko sivun uusimiseen. 
            Harkitsin myös <span class="italic">Bootstrap</span>in käyttöä, mutta sen liittäminen olemassa 
            oleviin tyyleihin ei ollut sujuvaa. Samalla olin jo tutustunut 
            hieman tarkemmin <span class="italic">flexbox</span>in ja <span class="italic">&commat;media-query</span>jen ominaisuuksiin 
            ja päätin lopulta käyttää niitä toteuttaakseni sopivan responsiivisen 
            asettelun. Paranneltavaa toki jäi, sillä jo mukana ollut 
            <span class="italic">lightbox2</span> ei sovellu juurikaan kuvien katseluun 
            pienillä näytöillä.
        </p>
        <h3>JS, Node, EJS, Express...</h3>
        <p>
            Uusin merkittävä muutos tälle sivustolle oli siirtyminen <span class="italic">nodejs</span> 
            + <span class="italic">express</span> + <span class="italic">ejs</span> käyttöön. 
            <span class="italic">Node</span>n ja <span class="italic">express</span>in osuus 
            jäänee toistaiseksi hyvin vähälle. 
            <span class="italic">EJS</span> sen sijaan tuli juuri oikeaan paikkaan lisäten paljon selkeää rakennetta 
            vähitellen kasvavalle sivustolle. Muutoksen suurin hyöty lienee toistuvien 
            sivun osien määrittäminen yhdessä tiedostossa eli ei enää saman linkkilistan 
            ylläpitoa useassa HTML-dokumentissa.
        </p>
        <h3>Tulevia päivityksiä</h3>
        <p>
            Osaamisen vahvistuessa voisin tulevaisuudessa kuvitella tekeväni 
            sivustolle vielä ainakin kertaalleen totaalisen muutoksen. Siinä <span class="italic">EJS</span>:n 
            tähän asti tarjoamat hyödyt voisi korvata <span class="italic">Reactjs</span> komponenteilla ja 
            samalla voisi harjoittaa <span class="italic">Bootstrap</span>in tai vastaavan tyylien käyttöä ja 
            muokkausta. Myönnettäköön kuitenkin, että vähempikin varmasti riittäisi, 
            kun kyseessä on vain Web-portfolio.
        </p>

    </article>
</section>

<%- include('partials/footer')%>