/*
    tekijä: Samu Koponen
*/

/* CSS reset (with small modifications)
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* box-sizing added here since the property is not inherited */
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: bottom; /* changed "baseline" --> "bottom" */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS reset end */


/* Import Prompt and Alegreya (headings) */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Prompt:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: white;
    text-align: center;
    font-family: Prompt, Verdana, sans-serif;
    font-size: 100%;
}

article.page {
    background-color: aliceblue;
    border: none;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

header {
    background-color: black;
    color: cornflowerblue;
    font-size: 200%;
    font-family: Alegreya, serif;
    letter-spacing: 0.2em;
    padding: 1em;
}

nav, footer {
    background-color: teal;
    color: aliceblue;
}

nav ul, footer ul {
    display: inline-block;
    padding: 0;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav li, footer li {
    display: inline-block;
    padding: 0;
}

nav li span, footer li span {
    padding: 0 0.25em 0 0;
}

nav a, footer li {
    text-decoration: none;
    display: inline-block;
    line-height: 1.5em;
    /*
    padding-top+bottom = (navbar height - line-height) / 2
    = (1.875em - 1.5em) / 2
    */
    padding: 0.1875em 0.5em;
}

nav a:link, nav a:visited {
    color: aliceblue;
}

nav a:hover {
    background-color: cornflowerblue;
}

nav a:active {
    color: deepskyblue;
}

nav a.active {
    background-color: black;
}

/*
    ** SECTION STYLES **
*/
/* Layout */
#portfolio-main {
    display: flex;
}

#portfolio-overview {
    display: block;
    flex-grow: 1;
}

.side-nav {
    background-color: white;
    width: 270px;
    /*flex-basis: 300px;*/
    display: none;
    padding: 1em 1.5em;
    text-align: left;
}

@media (min-width: 992px){
    .side-nav {
        display: block;
    }
}

.side-nav li, .side-nav span {
    display: block;
    padding: 0.375em 0 0 0;
}

.side-nav span {
    font-weight: 700;
}

.project-container, .language-container, .personal-projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.front-page {
    background-color: hsl(240, 29%, 92%);
    border: 1px solid #ac9675;
    border-radius: 6px;
    margin: 2% 4%;
    /*width: 40%;*/
    overflow: hidden;
}

.pf-container {
    display: block;
    /*background-color: rgb(102, 214, 145);*/
    background-color: rgb(229, 229, 241);
    /*border: 1px solid #8a8ac7;*/
    border-radius: 9px;
    margin: 1em 0.625em;
    padding: 1em;
    height: auto;
}

.pf-container-large {
    flex-grow: 1;
    width: 300px;
}

.pf-container-small {
    flex-basis: 240px;
    flex-shrink: 1;
}

@media (min-width: 992px){
    .pf-container-large {
        margin: 1em 1.5em;
    }
}

/*
.pf-container-large {
    margin: 1em 1.5em;
    flex-grow: 1;
}
*/
.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 1em;
}

.img-container img {
    max-width: 4.5em;
    height: auto;
    margin: auto 0.5em;
    /*max-height: 4.5em;*/
}

.pf-header {
    display: inline-block;
    margin: 0 0 1em;
}

#naama {
    float: right;
    width: 30%;
    height: auto;
    margin: 2%;
}

.key-word-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-word-title {
    font-weight: 700;
}

.key-word {
    /*font-style: italic;*/
    background-color: blue;
    color: white;
    border-radius: 0.625em;
    padding: 0.375em 1em;
    margin: 0.125em 0.375em;
    font-size: 0.875em;
}

section p span {
    padding: 0;
    vertical-align: baseline;
}

section code {
    color: dimgray;
    font-size: 1rem;
}

/* Poistettu käytöstä side-nav lisäyksen aikaan
section ul {
    text-align: left;
    margin: 2%;
    padding-left: 2.5em;
}
*/

section li span {
    padding-left: 0.125em;
}

section h2 {
    color: teal;
    font-family: Alegreya, serif;
    text-align: center;
    margin-top: 0.75em;
}

section h2 span {
    padding-right: 0.25em;
    vertical-align: middle;
}

section a {
    text-decoration: none;
}

section a:link, section a:visited {
    color: cornflowerblue;
}

section a:hover {
    color: blue;
}

section a:active {
    color: deepskyblue;
}

.pf-header-large a:hover {
    text-decoration: underline solid teal 0.125em;
    /*text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: teal;
    text-decoration-thickness: 0.125em;*/
}

.hide {
    display: none;
}

/*
    Following additional rules are from:
    https://developers.google.com/fonts/docs/material_icons#styling_icons_in_material_design
*/

/* Rules for sizing the icon. */
.material-icons.md-16 {
    font-size: 16px;
}

/* Not included in source */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* Other possibly useless styles */

.gallery-container {
    width: 100%;
}

/*
.gallery-container a {
    margin: 0;
    padding: 0;
    border-image-width: 0;
}
*/
.gallery-heading {
    /*background-color: aquamarine;*/
    font-style: italic;
}

/* portfolio lightbox images */
.pfl-img {
    width: 24%;
    height: auto;
    margin: 0 0.5%;
}

/* Background image position in pf-container */
/*
:root {
    --pos-c: 50%;
    --pos-1p2: 35%;
    --pos-2p2: 65%;
    --pos-1p3: 20%;
    --pos-3p3: 80%;
    --pos-b: 96%;
    --pos-1p5: 2%;
    --pos-2p5: 26%;
    --pos-4p5: 74%;
    --pos-5p5: 98%;
}

.pf-container-large.p-010 {
    background-image: url(../images/react-logo.png), url(../images/nodejs.png), url(../images/mongo.png),
        url(../images/docker-logo.png), url(../images/elastic-logo.svg);
    background-position: var(--pos-1p3) var(--pos-1p2), var(--pos-c) var(--pos-1p2), var(--pos-3p3) var(--pos-1p2),
        var(--pos-1p2) var(--pos-2p2), var(--pos-2p2) var(--pos-2p2);
    background-size: 20%;
    background-repeat: no-repeat;
}

.pf-content-bottom-large.p-01 {
    background-image: url(../images/react-logo.png), url(../images/nodejs.png), url(../images/mongo.png),
        url(../images/docker-logo.png), url(../images/elastic-logo.svg);
    background-position: var(--pos-1p5) var(--pos-c), var(--pos-2p5) var(--pos-c), var(--pos-c) var(--pos-c),
        var(--pos-4p5) var(--pos-c), var(--pos-5p5) var(--pos-c);
    background-size: 15%;
    background-repeat: no-repeat;
}
*/